@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
body{
  background-color: #fafafa;
  margin: 0;
}
footer{
  padding: 20px;
  text-align: center;
  background-color: #ddd;
}
/*header*/
header{
  margin: 20px 20px 0px 20px;
}
header a{
  text-decoration: none;
  color: #752;
}
/*menu*/
.menu{
  list-style: none;
  padding-left: 0;
  margin: 12px;
}
.menu-case {
	float: left;
	display: inline;
	text-align: left;
	margin-right: 20px;
  font-size: 21px;
  font-weight:600;
  border-bottom: solid #ffa349 4px;
}
.menu{
  display: block;
}
.menu:after {
  content: "";
  clear: both;
  display: block;
}
.menu-case:hover{
  border-bottom: solid #fcd849 4px;
  transition: 0.3s;
}
/*home*/
.homeh2{
  color: #fff;
  font-size: 24px;
  margin: 0;
}
.homep{
  color: #fff;
}
.content{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 16px;
  text-align: center;
  width: auto;
}
.box{
  height: 560px;
  margin: 0;
  position:relative;
  padding: 12px;
}
#what{
  background: linear-gradient(#ffa349,#fcd849);
}
#who{
  background: linear-gradient(#fcd849,#c4ff47);
}
#where{
  background: linear-gradient(#c4ff47,#3feaa8);
}
#why{
  background: linear-gradient(#3feaa8,#3f8cea);
}
/*content*/
.content input{
  display: none;
}
.content .homep{
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.content input:checked ~ .homep {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
.content label{
  color: #fff;
  font-size: 24px;
}
.content label:hover{
  color:#d3d3d3;
  transition: 0.3s;
}
.content label span{
  font-size: 16px;
}

.maincnt{
  margin: 20px;
}
.maincnt h2{
  margin: 0;
  color:#555;
}
.maincnt p{
  margin: 0;
}
/*https://saruwakakun.com/html-css/reference/hidden-show*/
