/*menu*/
.menu, .menu-list {
  list-style: none;
  padding-left: 0;
}
.menu-case {
	float: left;
	display: inline;
	text-align: left;
	margin-right: 20px;
}
.menu{
	bottom: 30px;7
  display: block;
}
.menu:after {
  content: "";
  clear: both;
  display: block;
}
.menu-case:hover .menu-name {
  color: #29ad95;
}
.menu-name{
	font-size: 24px;
	font-weight:600;
  color: #242424;
  font-family: "Abel";
}
.homeh2{
  line-height:560px;
  color: #fff;
  font-size: 24px;
  margin: 0;
}
.box{
  height: 560px;
  text-align: center;
  vertical-align:middle;
  margin: 0;
}
#what{
  background: linear-gradient(#ffa349,#fcd849);
}
#who{
  background: linear-gradient(#fcd849,#c4ff47);
}
#where{
  background: linear-gradient(#c4ff47,#3feaa8);
}
#why{
  background: linear-gradient(#3feaa8,#3f8cea);
}
